/* * {
  border: 1px solid black;
} */

body {
  background-color: #f52b4d;
  font-size: 18px;
  font-family: sans-serif;
}

.pokedex {
  background-color: white;
  border: 8px solid black;
  border-radius: 12px;
  width: 30vw;
  margin: auto;
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 48px;
}

/* button element */
.currentPokemon {
  padding: 12px 24px;
  margin: 4px 0;
  border: none;
  font-size: 16px;
  width: 100%;
  text-transform: capitalize;
}

.currentPokemon:hover, :focus {
  background-color: darkgray;
  transition: 0.6s;
}

/* ul element */
.pokemon-list {
  padding: 0;
  list-style-type: none;
}

.modal {
  margin: auto;
  display: block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 50vw;
  text-align: left;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: none;
}

img {
  display: block;
  margin: auto;
  min-width: 200px;

}

.text-box {
  display: inline;
  float: left;
}

@media all and (max-width: 500px) {
  .pokedex {
    margin: auto;
    width: 90%;
    height: 95vh;
  }
  .modal {
    max-width: 80vw;
  }
}

@media all and (min-width: 500px) and (max-width: 1024px) {
  .pokedex {
    width: 60%;
    height: 85vh;
  }
  .image {
    margin: auto;
  }
}
